
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="menu-inner-wrap">
			<ul class="menu">
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Главная</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Обо мне</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Кейсы</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Программа очищения</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Кето — путь</div>
					</a>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-title">Консультация</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="info-inner-wrap">
			<div class="info-wrap">
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-tg.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-wa.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-inst.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-vk.svg" alt="">
					</a>
				</div>
				<div class="phone-wrap">
					<a href="tel:89260160081">8 (926) 016 00 81</a>
				</div>
			</div>
			<div class="subinfo-wrap">
				<p>ИНН 360000000</p>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->